@charset "utf-8";

#header{
    min-width: 996px;
    background-color: #fff;
}
.header-con{
    width: 996px;
    height: 64px;
    margin: 0 auto;
    padding-top: 16px;
}
.header-con .logo{
    float: left;
}
.header-con h2{
    width: 666px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    float: left;
    margin:10px 0 0 14px;
}
.header-con p a{
    font-size: 12px;
    line-height: 16px;
    color: #666;
    height: 16px;
    background:url(../images/news.png) no-repeat bottom left;
    padding-left: 25px;
    margin-top: 30px;
    display: block;
    float: left;
}
.header-con p a:hover{
    color: red;
    text-decoration: underline;
}
/* remind  */
#remind{
    min-width: 996px;
    height: 40px;
    background-color: #fff8f0;
}
.remind-con{
    width: 996px;
    height: 28px;
    text-align: center;
    margin: 0 auto;
    padding-top: 12px;
}
.remind-con p{
    width: 790px;
    height: 16px;
    font-size: 12px;
    color: #ccc;
    line-height: 16px;
    padding-left: 10px;
    margin: 0 auto;
    background: url(../images/jingao.png) no-repeat center left;
}
.remind-con p a{
    font-size: 12px;
    color: #000;
}
.remind-con p a:hover{
    text-decoration: underline;
}
/* login-banner */
#banner{
    min-width: 996px;
    background: #e93854;
}
.banner-con{
    width: 996px;
    height: 476px;
    background: url(../images/login-bg.png) no-repeat center center;
    margin: 0 auto;
    position: relative;
}
.banner-con .form{
    width: 346px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 6px;
}
.form h3{
    height: 38px;
    background-color: #fff8f0;
}
.form h3 p{
    width: 266px;
    height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    color: #666;
    margin: 0 auto;
    padding-left: 16px;
    background: url(../images/jingao.png) no-repeat center left;
}
.form ul{
    height: 36px;
    border-bottom: 1px solid #ccc;
    padding-top: 18px;
}
.form ul a{
    display: inline-block;
    height: 16px;
    width: 172px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    border-right: 1px solid #ccc;
}
.form ul a:last-child{
    color: red;
    border: none;
}
.form .inp{
    height: 222px;
    text-align: center;
    padding: 34px 20px 0;
}
.form .inp label{
    display: block;
    width: 38px;
    height: 38px;
    float: left;
    border: 1px solid #666;
    background:#f1f1f1 url(../images/user.png) no-repeat center center;
}
.form .inp label.pwd{
    background:#f1f1f1 url(../images/password.png) no-repeat center center;

}
.form .inp input{
    width: 250px;
    float: left;
    height: 38px;
    border: 1px solid #666;
    margin-bottom: 20px;
    padding-left: 10px;
}
.form .inp span a{
    display: block;
    font-size: 12px;
    color: #666;
    float: right;
    margin-bottom: 20px;
}
.form .inp button{
    width: 304px;
    height: 38px;
    background: red;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    border: none;
}
.form .register{
    height: 36px;
    border-top: 1px solid #666;
    padding-top: 16px;
}
.form .register h2{
    float: left;
}
.form .register h2 a{
    width: 34px;
    height: 18px;
    display: block;
    float: left;
    font-size: 12px;
    line-height:18px;
    color: #666;
    padding-left: 22px;
}
.form .register h2 a:hover{
    color: red;
    text-decoration: underline;
}
.form .register h2 a:first-child{
    margin-left: 20px;
    border-right: 1px solid #666;
    background: url(../images/qq.png) no-repeat center left;
}
.form .register h2 a:last-child{
    margin-left: 10px;
    background: url(../images/weixin.png) no-repeat center left;
}
.form .register span{
    float: right;
}
.form .register span a{
    font-size: 14px;
    line-height: 14px;
    color: red;
    display: block;
    padding-left: 20px;
    margin-right: 20px;
    background: url(../images/login-you.png) no-repeat center left;
}
.form .register span a:hover{
    color: red;
    text-decoration: underline;
}
/* footer */
 .bottom-list ul{
    width: 996px;
    height: 20px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 160px;
}
 .bottom-list li{
    float: left;
    width: 48px;
    height: 12px;
    line-height: 12px;
    padding: 0 12px;
    border-right: 1px solid #ccc;
}
.bottom-list li:last-child{
    border: none;
}
 .bottom-list li a{
    display: block;
    font-size: 12px;
    color: #666;
    height: 12px;
}
.bottom-list li:hover a{
    color: red;
}
.bottom-list p{
    font-size: 12px;
    color: #666;
    text-align: center;
    width: 100%;
}
