@charset "utf-8";

/* header */
#header{
    min-width: 996px;
    height: 32px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ccc;
}
.header-con{
    width: 996px;
    height: 32px;
    margin: 0 auto;
}
.header-con .header-left{
    float: left;
}
.header-con .header-left p{
    font-size: 14px;
    width: 130px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
}

.header-con .header-left p a{
    font-size: 14px;
    color: #999999 ;
    margin-right: 10px;
}
.header-con .header-left i{
    color: #5c5452;
}
.header-con .header-left span{
    color: #999999;
}
.header-con .header-right ul{
    height:14px;
    padding-top: 10px;
}
.header-con .header-right li{
    height: 12px;
    font-size: 14px;
    color: #999999;
    float: left;
    padding: 0 12px;
    line-height: 14px;
    border-right:1px solid #ccc;
}
.header-con .header-right li:first-child{
    color: red;
}
.header-right li a{
    font-size: 12px;
    color: #999999;
}
.header-right li a i{
    font-size: 10px;
}
.header-right li a:hover{
    color: red;
}
.header-con .header-right li .login:hover{
    color: red;
}
.header-con .header-right li .login{
    color: #999999;
    font-size: 14px;
}
.header-con .header-right li .register{
    color: red;
    margin-left: 3px;
    font-size: 14px;
}
.header-con .header-right li:nth-child(5) a{
    color: red;
}
.header-con .header-right{
    float: right;
}
/* shopcart */
#shop{
    min-width: 996px;
    background-color: #fff;
}
.shop-con{
    width: 996px;
    min-height: 404px;
    margin: 0 auto;
}
.shop-con .cart-logo{
    width: 996px;
    height: 52px;
    overflow: hidden;
}
.cart-logo .logo{
    margin: 10px 0 0 5px;
    float: left;
}
.cart-logo .search{
    float: right;
    padding-top: 20px;
}
.cart-logo .search input{
    width: 270px;
    height: 26px;
    border: 2px solid red;
    color: #999;
    padding-left: 5px;
    float: left;
}
.cart-logo .search button{
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: red;
    float: left;
}
.shop-con .cart-menu{
    width: 996px;
    min-height: 334px;
    margin-top: 20px;
    position: relative;
}
.cart-menu .null{
    /* display: none; */
    width: 354px;
    height: 58px;
    position: absolute;
    left: 254px;
    top: 140px;
    padding-left: 90px;
    background:url(../images/cart.png) no-repeat center left;
}
.null p {
    font-size: 12px;
}
.null a.login{
    display: inline-block;
    width: 44px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: red;
    line-height: 24px;
    margin: 7px 18px 0 0;
}
.cart-menu .shop{
    min-height: 180px;
}
.cart-menu .shop .shopview{
    margin-bottom: 10px;
}
.cart-menu .shop h2{
    height: 32px;
}
.cart-menu .shop h2 span{
    display: block;
    width: 75px;
    font-size: 14px;
    font-weight: bold;
    color: red;
    border-bottom: 2px solid red;
}
.cart-menu .shop h2 span em {
    font-size: 14px;
    margin-left: 5px;
}
.cart-menu .shop p{
    height: 34px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: #666;
}
.cart-menu .shop p span:nth-child(1){
    display: inline-block;
    width: 133px;
    height: 25px;
    padding: 5px 0 0 11px;
    line-height: 32px;
}
.cart-menu .shop p span:nth-child(2){
    display: inline-block;
    width: 288px;
    height: 32px;
    line-height: 32px;
}
.cart-menu .shop p span:nth-child(3){
    display: inline-block;
    width: 160px;
    height: 32px;
    padding: 0px 40px 0 0px;
    line-height: 32px;
    text-align: right;
}
.cart-menu .shop p span:nth-child(4){
    display: inline-block;
    width: 50px;
    height: 32px;
    line-height: 32px;
}
.cart-menu .shop p span:nth-child(5){
    display: inline-block;
    width: 140px;
    height: 32px;
    padding: 0px 50px 0 0px;
    line-height: 32px;
    text-align: right;
}
.cart-menu .shop p span:nth-child(6){
    display: inline-block;
    width: 75px;
    height: 32px;
    line-height: 32px;
}

.cart-menu .shop h3{
    height: 30px;
    text-align: left;
    padding-left: 11px;
    border-bottom: 3px solid #022;
}
.cart-menu .shop h4{
    height: 120px;
    background-color: #fff4e8;
    padding-left: 10px;
}
.cart-menu .shop h4 span{
    display: inline-block;
    width: 170px;
    height: 56px;
    font-size: 10px;
    padding: 15px 0 10px;
    color: #999;
}
.shop h4 img{
    width: 80px;
    height: 80px;
    margin: 0px 10px;
    position: relative;
    top: 20px;
    left: 0;
}
.shop h4 .danjia{
    text-align: right;
    font-size: 12px;
    color: #333;
    display: inline-block;
    width: 300px;
    height: 90px;
    padding: 15px 20px 10px 0;
}
.shop i button{
    width: 17px;
    height: 22px;
}
.shop i input{
    width: 40px;
    height: 19px;
    text-align: center;
    font-size: 12px;
    color: #000;
    border: 1px solid #999;
}
.shop .zongji{
    display: inline-block;
    width: 140px;
    height: 45px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    text-align: right;
    padding: 15px 40px 10px 0;
}
.shop h5{
    height: 52px;
    border:1px solid #ccc;
    padding-left: 10px;
}
.shop h5 .all{
    width: 50px;
    line-height: 52px;
    font-size: 14px;
    color: #999;
    float: left;
}
.shop h5 .allprice{
    width: 190px;
    height: 52px;
    float: right;
}
.shop h5 .allprice{
    font-size: 12px;
    line-height: 52px;
    color: #000;
} 
.shop h5 .allprice em{   
    font-size: 16px;
    color: red;
    margin-right: 5px;
}
.shop h5 .allprice button{
    width: 92px;
    height: 52px;
    border: none;
    font-size: 20px;
    line-height: 52px;
    background-color: red;
    color: #fff;
    margin-left: 5px;
}





/* guess 猜你喜欢 */
#guess{
    min-width: 996px;
    background-color: #fff;
}
.guess-con{
    width: 996px;
    height: 360px;
    margin: 0 auto;
}
.guess-con .guess-top{
    width: 996px;
    height: 24px;
}
.guess-con .guess-top p{
    float: left;
}
.guess-con .guess-top p a{
    font-size: 12px;
    color: #666;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
    margin-right: 38px;
    font-weight: bold;
}
.guess-con .guess-top p a:first-child{
    height: 22px;
    color: red;
    border-bottom: 2px solid red;
}
.guess-con .guess-top h2{
    float: right;
}
.guess-con .guess-top h2 span{
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
    margin: 8px 5px 0 0;
}
.guess-con .guess-top h2 span:first-child{
    width: 26px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
}
.guess-con .guess-shop{
    width: 984px;
    height: 326px;
    padding: 10px 6px 0;
}
.guess-shop a{
    display: inline-block;
    width: 200px;
    height: 306px;
    background: #fff;
    padding: 20px 20px 0;
    text-align: center;
    border: 1px dashed #ccc;
}
.guess-shop a p{
    font-size: 12px;
    color: #666666;
    line-height: 16px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 5px 0 16px 0;
}
.guess-shop a  span{
    display: inline-block;
    width: 190px;
    font-size: 16px;
    color: red;
    font-weight: bold;
    margin-bottom: 14px;
}
.guess-shop a  button{
    width:110px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 30px;
    color: #666;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}
.guess-shop a  button:hover{
    background-color: red;
    color: #fff;
}
/* footer */
#footer{
    min-width: 996px;

}
.footer-con{
    width:996px;
    height: 468px;
    background: orange;
    margin: 0 auto;
}
.footer-top{
    min-width: 996px;
    border-bottom:1px solid #dedede;
}
.footer-top .top-con{
    width:996px;
    margin: 0 auto;
    height: 106px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-top p{
    width: 206px;
    height: 42px;
    font-size: 18px;
    color: #000;
    line-height: 42px;
    font-weight: bold;
    padding-left: 45px;
    background: url(../images/duo.png) no-repeat center left;
}
.footer-top p:nth-child(2){
    background: url(../images/kuai.png) no-repeat center left;
}
.footer-top p:nth-child(3){
    background: url(../images/hao.png) no-repeat center left;
}
.footer-top p:nth-child(4){
    background: url(../images/shen.png) no-repeat center left;
}
 .footer-center{
     min-width: 1195px;
}
.footer-center .center-con{
    width: 996px;
    height: 204px;
    margin: 0 auto;
    border-bottom:1px solid #dedede;
}
.center-con ul{
    width: 996px;
    height: 204px;
    float: left;
}
.center-con ul li{
    width: 74px;
    float: left;
    padding: 0 60px;
    font-weight: bold;
}
.center-con ul li:nth-child(1){
    font-size: 12px;
    color: #000;
    margin: 26px 0 10px 0;
}
.center-con ul li:nth-child(2){
    font-size: 12px;
    color: #000;
    margin: 26px 0 10px 0;
}
.center-con ul li:nth-child(3){
    font-size: 12px;
    color: #000;
    margin: 26px 0 10px 0;
}
.center-con ul li:nth-child(4){
    font-size: 12px;
    color: #000;
    margin: 26px 0 10px 0;
}
.center-con ul li:nth-child(5){
    font-size: 12px;
    color: #000;
    margin: 26px 0 10px 0;
}
.center-con ul li a{
    font-size: 10px;
    color: #666;
    margin: 6px 0;
}
.center-con ul li:hover a{
    color: red;
}

 .footer-bottom{
    height: 22px;
    /* height: 264px; */
}
.footer-bottom .bottom-con{
    width: 996px;
    margin:0 auto;

}
.footer-bottom .bottom-list{
    height: 20px;
    padding-top: 18px;
    padding-left: 40px;
}
.footer-bottom .bottom-list li{
    float: left;
    width: 48px;
    height: 12px;
    line-height: 12px;
    padding: 0 6px;
    border-right: 1px solid #ccc;
}
.footer-bottom .bottom-list li:last-child{
    border: none;
}
.footer-bottom .bottom-list li a{
    display: block;
    font-size: 10px;
    color: #666;
    height: 12px;
}
.footer-bottom .bottom-list li:hover a{
    color: red;
}


/* .footer-bottom .bottom-copyright{
    height: 120px;
    background-color:pink ;
}
.footer-bottom .bottom-safe{
    height: 107px;
    background-color:purple;
} */