@charset "UTF-8";
/* header */
#header {
  min-width: 1195px;
  height: 32px;
  background-color: #e3e4e5;
}
#header .header-con {
  width: 1195px;
  height: 32px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
#header .header-con .header-left {
  float: left;
}
#header .header-con .header-left p {
  font-size: 14px;
  width: 130px;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
}
#header .header-con .header-left p a {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}
#header .header-con .header-left i {
  color: red;
}
#header .header-con .header-left span {
  color: #999;
}
#header .header-con .header-right {
  float: right;
}
#header .header-con .header-right ul {
  height: 14px;
  padding-top: 10px;
}
#header .header-con .header-right ul li {
  height: 12px;
  font-size: 14px;
  color: #999;
  float: left;
  padding: 0 12px;
  line-height: 14px;
  border-right: 1px solid #ccc;
}
#header .header-con .header-right ul li:first-child {
  color: red;
}
#header .header-con .header-right ul li a {
  font-size: 12px;
  color: #999;
  line-height: 12px;
}
#header .header-con .header-right ul li a:hover {
  color: red;
}
#header .header-con .header-right ul li a i {
  font-size: 10px;
}
#header .header-con .header-right ul li .login:hover {
  color: red;
}
#header .header-con .header-right ul li .register {
  color: red;
  margin-left: 3px;
  font-size: 14px;
}
#header .header-con .header-right ul li:nth-child(5) a {
  color: red;
}

/* search */
#search {
  min-width: 1195px;
  background-color: #fff;
}
#search .search-con {
  width: 1195px;
  height: 100px;
  margin: 0 auto;
}
#search .search-con .logo {
  width: 170px;
  height: 78px;
  text-align: center;
  float: left;
  padding-top: 22px;
}
#search .search-con .more {
  width: 72px;
  float: left;
  height: 60px;
  margin: 0 100px 0 40px;
  padding-top: 40px;
}
#search .search-con .more button {
  width: 72px;
  height: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 24px;
}
#search .search-con .input-nav {
  width: 600px;
  height: 100px;
  float: left;
}
#search .search-con .input-nav .input {
  width: 780px;
  height: 36px;
  margin-top: 24px;
  position: relative;
}
#search .search-con .input-nav .input input:first-child {
  width: 450px;
  height: 32px;
  border: 2px solid #b61d1d;
  color: #999;
  padding-left: 5px;
  float: left;
}
#search .search-con .input-nav .input button {
  width: 50px;
  height: 36px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  background-color: #b61d1d;
  float: left;
}
#search .search-con .input-nav .input .all {
  font-size: 12px;
  color: #fff;
}
#search .search-con .input-nav .input .there {
  font-size: 12px;
  background-color: #474e5c;
  color: #fff;
}
#search .search-con .input-nav .input span {
  display: block;
  float: right;
  width: 140px;
  height: 22px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  padding: 6px;
  margin-left: 5px;
}
#search .search-con .input-nav .input span:hover {
  border-color: #b61d1d;
}
#search .search-con .input-nav .input span i {
  font-size: 20px;
  color: #b61d1d;
  margin-right: 16px;
}
#search .search-con .input-nav .input span b {
  width: 18px;
  height: 14px;
  border-radius: 25px;
  position: absolute;
  top: 1px;
  left: 26px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  background-color: #b61d1d;
}
#search .search-con .input-nav .input span a {
  font-size: 14px;
  color: #b61d1d;
}
#search .search-con .input-nav .input a {
  color: #999;
}
#search .search-con .input-nav .nav-top {
  height: 20px;
  margin-left: 2px;
}
#search .search-con .input-nav .nav-top li {
  float: left;
  margin-right: 12px;
}
#search .search-con .input-nav .nav-top li a {
  font-size: 12px;
  color: #999;
}
#search .search-con .input-nav .nav-top li a:hover {
  color: red;
}
#search .search-con .input-nav .nav-top li:first-child a {
  color: red;
}

/* 广告 ad */
#ad {
  width: 100%;
  height: 110px;
}
#ad img {
  width: 100%;
  height: 100%;
}

/* 详情商品列表 shop-li */
#detail-shop {
  height: 40px;
  background-color: #000;
}
#detail-shop ul {
  width: 1195px;
  height: 40px;
  margin: 0 auto;
}
#detail-shop ul li {
  float: left;
}
#detail-shop ul li a {
  display: block;
  padding: 10px 40px;
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
}

/* 商品地址 shop-address */
#shop-address {
  height: 46px;
  background-color: #f2f2f2;
}
#shop-address .address-con {
  width: 1195px;
  height: 46px;
  margin: 0 auto;
}
#shop-address .address-con .address {
  width: 490px;
  height: 46px;
  float: left;
}
#shop-address .address-con .address li {
  float: left;
}
#shop-address .address-con .address li a {
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 46px;
  margin: 0 10px;
  float: left;
}
#shop-address .address-con .address li i {
  font-size: 12px;
  color: #666;
  line-height: 46px;
  margin: 0 10px;
}
#shop-address .address-con .store {
  width: 330px;
  height: 46px;
  float: right;
}
#shop-address .address-con .store span {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
  height: 46px;
  line-height: 46px;
}

/* shop 商品 */
#shop {
  min-width: 1195px;
}
#shop .shop-con {
  width: 1195px;
  min-height: 350px;
  margin: 0 auto;
  padding-top: 30px;
}
#shop .shop-con .shop-left {
  width: 400px;
  min-height: 300px;
  float: left;
  position: relative;
}
#shop .shop-con .shop-left .middle {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}
#shop .shop-con .shop-left .middle .shade {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#shop .shop-con .shop-left .middle .shade :hover {
  cursor: move;
}
#shop .shop-con .shop-left .big {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 400px;
  top: 0;
  border: solid;
  background-size: 600px 600px;
  display: none;
  background-repeat: no-repeat;
  z-index: 999;
}
#shop .shop-con .shop-right {
  width: 745px;
  min-height: 350px;
  float: left;
  position: relative;
}
#shop .shop-con .shop-right h2 {
  height: 100px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 100px;
}
#shop .shop-con .shop-right p {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 50px;
  padding-left: 500px;
}
#shop .shop-con .shop-right p span {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
#shop .shop-con .shop-right h3 {
  padding-left: 450px;
  position: relative;
}
#shop .shop-con .shop-right h3 span {
  font-size: 50px;
  display: block;
  color: green;
  position: absolute;
  top: -150px;
  left: 100px;
  display: none;
}
#shop .shop-con .shop-right h3 button {
  width: 200px;
  height: 40px;
  background-color: red;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
#shop .shop-con .shop-right .content {
  position: absolute;
  width: 400px;
  height: 220px;
  left: 0px;
  top: 130px;
}
#shop .shop-con .shop-right .content li {
  height: 40px;
  line-height: 44px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px dashed #ccc;
}
#shop .shop-con .shop-right .content li:first-child a {
  width: 100px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid red;
  border-radius: 25px;
  margin-top: 10px;
}
#shop .shop-con .shop-right .content li:nth-child(3) a i {
  display: inline-block;
  width: 150px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
#shop .shop-con .shop-right .content li a {
  display: inline-block;
  height: 44px;
  color: #111010;
  padding-left: 10px;
}

/* 底部 footer */

/*# sourceMappingURL=detail.css.map */
